body{
    font-family: "Times New Roman",sans-serif;
    font-size: 1.5rem;
    color: #E0CE9C;
    margin: 0;
    padding: 0;
    background-image: url("/EduardoEstrela_VitoriaSantana_p1/img/Fundo.jpg");
  
}
/* Index */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header img{
    padding-top: 0.5%;
    width: 35%;
    height: 15%;
}

.header p{
    text-align: right;
    margin: 5px;
    margin-right: 10px;
    font-style: italic;

}

hr{
    border: 2px solid #8d8d8d;
    margin-right: 65%;
}

.container{
    display: flex;
    flex-direction: row;
}

.menu{
    margin: 20px 15px 0px 20px;
}

.menu li{
    padding-bottom: 15px;
    list-style: circle;
    font-size: 1.5rem;
}

a{ color: inherit;}

/*História*/
.fonte{
    text-align: right;
    padding-right: 2%;
    font-style: italic;
}
#fonte{
    text-decoration: none;
}
/*Máquinas*/

/* Sachês*/

/*Compras*/

