body{
    font-family: "Times New Roman",sans-serif;
    font-size: 1.5rem;
    color: #E0CE9C;
    margin: 0;
    padding: 0;
    background-image: url("../img/Fundo.jpg");
  
}

main, main * {
		margin-left: auto;
		margin-right: auto;
}
/* Index */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header img{
    padding-top: 0.5%;
    width: 35%;
    height: 15%;
}

.header p{
    text-align: right;
    margin: 5px;
    margin-right: 10px;
    font-style: italic;

}

hr{
    border: 2px solid #8d8d8d;
    margin-right: 65%;
}

.container{
    display: flex;
    flex-direction: row;
}

.menu{
    margin: 20px 15px 0px 20px;
}

.menu li{
    padding-bottom: 15px;
    list-style: circle;
    font-size: 1.5rem;
}

.menu a{
    color:#E0CE9C;
    text-decoration: none;
}
.menu ul li a:hover{
    text-decoration: underline 
}

div.logo img {
				margin: 0 auto;
}

/*História*/
#amarela{
    border: 2px solid #E0CE9C;
}
.fonte{
    text-align: right;
    padding-right: 2%;
    font-style: italic;
}
#fonte{
    text-decoration: none;
}
/*Máquinas*/
.tabela{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
caption{
    border: 2px solid #664422;
    background-color: #907968;
    color: white;
}
.tabela th{
    color: white;
    background-color: #907968;
    border: 2px solid #664422;
}
.tabela td{
    border: 2px solid #664422;
    background-color: white;
    color: #664422;
}
.tabela tr{
    border: 2px solid #664422;
}
.tabela img{
    width: 80%;
    height: auto;
}
#tipo{
    background-color: #EACEAC;
    color: #664422;
    font-weight: bold;
}
#preco{
    color: red;
}

/* Sachês*/

section.saches ol li {
		margin-top: 10px;
}

/*Compras*/

fieldset.on-table {
				background-color: #907968;
				width: 100%;
}

#produto {
				width: min-content;
}
