h1 {
    text-align: center;
}

input {
    width: 100px;
    margin: 10px;
}

button {
    font-size: small;
    width: 10rem;
    border: 1px solid black;
    border-radius: 8px;
    background-color: lightcoral;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}


