h1 {
    text-align: center;
}

input {
    width: 100px;
    margin: 10px;
}

button {
    font-size: medium;
    width: 10rem;
    border: 1px solid black;
    border-radius: 8px;
    background-color: lightcoral;
}