<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Introdução ao Vue</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="/AULAS_VUE/assets/styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">
        <div class="cart">
          <span class="title-cart">MEU CARRINHO ({{ carrinho }})</span>
        </div>
      </div>
      <div class="product-display">
      <div class="product-container">
        <div class="product-image">
          <img :src="imagem">
        </div>
          <div class="product-info">
            <h1>{{ titulo }}</h1>
            <p v-if="estoque > 10">Em estoque</p>
            <p v-else-if="estoque <= 10 && estoque > 0">Quase esgotado!</p>
            <p v-else>Esgotado</p>
            <p v-if="promocao" class="promotion">Produto em promoção!</p>
            <p>Composição:
              <ul>
                  <li v-for="detalhe in detalhes">{{ detalhe }}</li>
              </ul>
            </p>
            Cores disponíveis:
            <div v-for="(item,indice) in cores" :key="item.id" 
            @mouseover="atualizaProdutoSelecionado(indice)" 
            class="color-circle" 
            :style="{ backgroundColor: item.cor }"></div>
            <button class="button" @click="addCarrinho" :disabled="!estoque" :class="{disabledButton: !estoque}">Comprar</button>
            <button class="button" @click="minusCarrinho" :disabled="!estoque" :class="{ disabledButton: !estoque }">Excluir</button>
          </div>
      </div>
      </div>
    </div>
  <script src="main.js"></script>  
  </body>
</html>
